!!!
%html
	%head
		%title BEN OMESI
		%script{:src => "js/jquery.js", :type => "text/javascript"}
		%link{:rel => "stylesheet", :type => "text/css", :href => "css/bootstrap.css"}
		%link{:rel => "stylesheet", :type => "text/css", :href => "style.css"}
		%link{:rel => "stylesheet", :type => "text/css", :href => "stylesheet.css"}
	%body
		.container
			.header
				%h1.title Ben Omesi 
			.div-nav
				%a{:href => "/home"}Home
				%a{:href => "/about"}About
				%a{:href => "/portfolio"}Portfolio
				%a{:href => "/contact"}Contact
			=yield